
@media screen and (max-width : 768px) { 
    #eventsContainer {
        justify-content:center;
    }

    .separator {
        display : none;
    }
}

@media screen and (min-width : 768px) {
    #eventsContainer {
        justify-content:space-between;
    }

}





#eventsContainer {
    display:flex;
    flex-wrap: wrap;
    /* justify-content:space-between; */
    padding-top:15px;
    
    
}

.btn {
    /* color: rgba(0,0,0,.7); */
}