*{
    font-family:'Courier New', Courier, monospace;
}

body {
    background-color: #BEE3DB;
}

.btn {
    font-family:'Courier New', Courier, monospace;
    border:0px;
    background-color:#BEE3DB;
    color:black;
}

.btn:hover {
    background-color:#5c706b;

}

.btn:active {
    background-color:#2a3331;

}

