<!--  ----------------------- NAV BAR --------------------------  -->

<%- include('navBar'); %>

<!-------------------------------------------------------------------------------->
<script src = email.js></script>


<div class="contactPage">

  <div class="form-group">
    <label for="inputName" class="form-label mt-4">Name</label>
    <input type="text" class="form-control" id="inputName" aria-describedby="emailHelp" placeholder="Enter your name" value="<%= user.name %>"/>
  </div>

  <div class="form-group">
    <label for="inputEmail" class="form-label mt-4">Email</label>
    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter your email" value="<%= user.email %>"/>
  </div>

  <div class="form-group">
    <label for="msg" class="form-label mt-4">Message</label>
    <textarea class="form-control" id="msg" rows="3" placeholder="Entre your message"></textarea>
  </div>

  <div id="messageSuccess"></div>

  <button type="submit" class="btn btn-primary" onclick='sendMail()'>Submit</button>


  </div>


