<!-- 
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a> 
 -->



<div class="title" style="padding:0px 0px 0rem 10px">
  <h1 class="mt-4">Dashboard</h1>
  <p class="lead mb-3">
  <h3 class="text-muted">Welcome <%= user.name %> <a href="/users/logout" class="btn btn-outline-dark">Logout ? </a>
  </h3>
  </p>
  <!-- <a href="/users/articleW" class="btn btn-primary">Write a Article</a> -->
</div>
<!-- <br>
<div class="title" style="padding:0px 0px 0rem 10px">
  <h1 class="mt-4">Options</h1>
  <p class="lead mb-3">
  <h3 class="text-muted">What do you want to do  <%= user.name %> <a href="/users/profile" class="btn btn-outline-dark">Logout ? </a>
  </h3>
  </p>
  <a href="/users/articleW" class="btn btn-primary">Write a Article</a>
</div> -->