<!--  ----------------------- NAV BAR --------------------------  -->

<%- include('navBar'); %>

<!-------------------------------------------------------------------------------->

<!-- --------------------------CSS----------------------------------------------- -->

<link rel="stylesheet" type="text/css" href="events.css" />

<!-- ---------------------------------------------------------------------------- -->

<!-- DIV FOR CARDS -->

<div id="eventsContainer"></div>

<!-- -------------------------- SCRIPTS ----------------------------------------------- -->

<script src="cardForEvent.js"></script>
<script>
  appendData(data);
</script>
