<link rel="stylesheet" type="text/css" href="navbar.css">



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/events"> Let's GOOO </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item separator">
        <a class="nav-link" href=""> | </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="/events" href="/events"> Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="/wishlist" href="/wishlist">Wish List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="/profile" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="/contact" href="/contact">Contact</a>
      </li>
    </ul>
    <a href="/users/logout" class="btn btn-danger">Logout ? </a>

  </div>
</nav> 

<script src="navBarActiv.js">  </script>
<script>
  navBarActiv();
</script>
