<!--  ----------------------- NAV BAR --------------------------  -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Let's Gooo <%= nashwan %></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor03" style="justify-content:space-between;">
          <div>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/events">Events
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/wishlist">Wish List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact</a>
          </li>
        </ul>
    </div>
        <div>
        <a href="/users/logout" class="btn btn-outline-dark">Logout ? </a>
    </div>

      </div>
    </div>
  </nav>
 

<!-------------------------------------------------------------------------------->

<div style="display: flex; justify-content: space-between;margin-right: 50px;" class="container">

    <div class="rambo">
    <img src="https://tse4.mm.bing.net/th?id=OIP.lDlLIxFkYvK9NW612r3d1QHaE7&pid=Api&P=0&w=285&h=190" style="margin-top: 20px;" width="200px" height="200px" alt=""/>
  
    </div>
  
    <div style="display: flex; flex-direction: column; margin-top: 10px;" class="userInfo">
  
    <input style="margin-top: 60px;" type="text" placeholder=<%=user.name%>>
    <input style="margin-top: 10px;" type="text" placeholder=<%=user.email%>>
    <input style="margin-top: 10px;" type="password" placeholder="*******">

    </div>
  
  
  
  </div>
  
  <div  style="height: 350px; display: flex;flex-direction: column;; margin-top: 20px; ; border: 2px solid black;" class="myFamily">
  
    <div style="text-align: center;">
    <h1>My info</h1>

    <form action="/profiles/new" method="POST">
      <label> First Name</label>
      <input type="text" name="firstName"><br>
      <label> Last Name</label>
      <input type="text" name="lastName"><br>
      <label> Age</label>
      <input type="number" name="age"><br>
      <label> City </label>
      <input type="text" name="location"><br>
      <label> Picture </label>
      <input type="text" name="picture"><br>
      <input type="submit" id="submit-btn">
    </form>



    </div>
  
    <div style="display: flex;flex-direction: column; justify-content: space-between;margin-left: 25px;">
    
    <div class="addChild">
    <!-- <button>add a child</button> -->
    </div>
  
    <div style="display: flex; flex-direction: column; margin-right: 900px; margin-top: 30px;display: none;" class="child">
  
      <input type="text" name="" id="">
      <button style="margin-top: 10px;">save change</button>
      <input style="margin-top: 10px" type="text" name="" id="">
      <button style="margin-top: 10px">save change</button>
      <input style="margin-top: 10px;" type="text" name="" id="">
      <button style="margin-top: 10px">save change</button>
  
    </div>
  
  
  </div>
  
  </div>
  
  <script>
    let addChild = document.querySelector('.addChild')
    let addNewChild = document.querySelector('.child')
    addChild.addEventListener('click', () => {
      addNewChild.style.display = "flex"
    })
  </script>


<!-------------------------------------------------------------------------------->



    <div
    style="
      height: 350px;
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      border: 2px solid black;
    "
    class="myFamily">
    <div style="text-align: center">
      <h1>My Family</h1>
  
      <form action="/children/new" method="POST">

        <label> Kid's Name</label>
        <input type="text" name="childName" id="childName" />
        <label> Kid's Age</label>
        <input type="number" name="childAge"  id="childAge" />
        <input type="submit" id="add-btn" value="add">

      </form>

    </div>
  
    </div>
    
    <!-- <script src="profilePage.js"></script> -->