<link rel="stylesheet" href="register.css">

<div class="container-fluid" id="registerMain">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>
              
              <% include ./partials/messages %>

              <form action="/users/register" method="POST">

                <div class="form-outline mb-4">
                  <label for="name">Enter your name :</label>
                    <input
                      type="name"
                      id="name"
                      name="name"
                      class="form-control"
                      
                      value="<%= typeof name != 'undefined' ? name : '' %>"
                    />
                  <!-- <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Your Name</label> -->
                </div>

                <div class="form-outline mb-4">
                  <label for="email">Enter your email :</label>
                    <input
                      type="email"
                      id="email"
                      name="email"
                      class="form-control"
                      value="<%= typeof email != 'undefined' ? email : '' %>"
                    />
                  <!-- <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Your Email</label> -->
                </div>

                <div class="form-outline mb-4">
                  <label for="password">Create a new password :</label>
                    <input
                      type="password"
                      id="password"
                      name="password"
                      class="form-control"
                      value="<%= typeof password != 'undefined' ? password : '' %>"
                    />
                  <!-- <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Password</label> -->
                </div>

                <div class="form-outline mb-4">
                  <label for="password2"> confirm your password :</label>
                    <input
                      type="password"
                      id="password2"
                      name="password2"
                      class="form-control"
                      
                      value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                    />
                </div>

                <!-- <div class="form-check d-flex justify-content-center mb-5">
                     <input
                    class="form-check-input me-2"
                    type="checkbox"
                    value=""
                    id="form2Example3cg"
                  /> -->
                  <!-- <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label> -->
                <!-- </div> --> 

                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary btn-block" id="registerBtn">
                    Register
                  </button>
                </div>

                <!-- <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!" class="fw-bold text-body"><u>Login here</u></a></p> -->

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
