<!-- --------------------------CSS----------------------------------------------- -->

<link rel="stylesheet" type="text/css" href="welcome-log-reg.css">

<!-- ---------------------------------------------------------------------------- -->

<div class="row mt-5" >
  <div class="col-md-6 m-auto" >
    <div class="card card-body text-center">
      <div style = "justify-content:center;display:flex;">
      <img src="https://cdn.discordapp.com/attachments/938059360045772820/959368010617978890/logo_letsgooo.png" width="130" >
    </div>
      <p style="font-family:Pirate of the Seaside Bubbles; font-size: 100px;">Let's Gooo</p>
      <!-- <p>Create an account or login</p> -->
      <a href="/users/register" class="btn btn-success  mb-2">Register</a
      >
      <a href="/users/login" class="btn btn-info btn-block">Login</a>
    </div>
  </div>
</div>

<!-- <script src="shadow.js">  </script>
<script>
  shadow();
</script> -->
