<div class="row mt-5" >
  <div class="col-md-6 m-auto" >
    <div class="card card-body text-center">
      <div style = "justify-content:center;display:flex;">
      <img src="https://cdn.discordapp.com/attachments/938059360045772820/959368010617978890/logo_letsgooo.png" width="130" >
    </div>
      <p style="font-family:Magical Holiday; font-size: 100px;">Let's Gooo</p>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-success btn-block mb-2" style="background-color:#BEE3DB; color:black">Register</a
      >
      <a href="/users/login" class="btn btn-info btn-block" style="background-color:#BEE3DB; color:black">Login</a>
    </div>
  </div>
</div>
