*{
    font-family:'Courier New', Courier, monospace;
}

body {
    background-color: #BEE3DB;
    width: 100vw;
}

.btn {
    font-family:'Courier New', Courier, monospace;
    background-color:#BEE3DB;
    color:black;
}

.btn:hover {
    background-color:#5c706b;

}

.btn:active {
    background-color:#2a3331;

}

.container::-webkit-scrollbar {
    display:none;
}

.container {
    -ms-overflow-style: none;
    scrollbar-width: none;
    
}
.eventsContainer {
    display: flex;
    flex-wrap: wrap;
}

/* -------------------- accordion ---------------------- */


.accordion-button {
    font-size: inherit;
}

.accordion-item {
    border: 1px solid rgba(35, 65, 100, .15)
}

.accordion-button:not(.collapsed) {
    color: inherit;
    background:#ffffff;
    color: #BEE3DB;
}

.accordion-button:not(.collapsed)::after  {
    filter: brightness(00%) invert(70%);
}

.accordion-button:focus {
    box-shadow: inherit;
}

@media (max-width: 767px) {
    .accordion-body h3 {
        font-size: calc(.95rem + 1.5vw);
    }
}

.container .singleCol {
    padding:0px !important;
    padding-top: 15px !important;

}


/* -------------- test ------------------*/ 

.classTestBorder {
    background-color:white;
    border-radius: 5px;
    padding-bottom: 15px;
    margin-top: 15px;
}

.accordion-button  {
    padding: 0px 15px 0px 15px;
}


/* -------------- events ------------------*/


@media screen and (max-width : 768px) { 
    #eventsContainer {
        justify-content:center;
    }

    .separator {
        display : none;
    }
}

@media screen and (min-width : 768px) {
    #eventsContainer {
        justify-content:space-between;
    }

}





#eventsContainer {
    display:flex;
    flex-wrap: wrap;
    padding-top:15px;
    
    
}

/* ---- ---------- NAVBAR --------------*/

@media screen and (max-width : 991px) { 
    .separator {
        display : none;
    }
}


.navbar {
    border-radius: 0px 0px 5px 5px;
}



/* ----------------- welcome log reg ----------------- */


body {
    background-color:#BEE3DB
    
}

.card.card-body {
    border-radius: 25px;
    /* box-shadow: 0px 0px 50px #78918b;
    box-shadow: inset 10px 10px #78918b; */
    /* box-shadow: inset 0 0 10px #78918b, 0 0 25px #78918b; */
    border: 1px;
}

.navbar-brand {
    font-family:"Pirate of the Seaside Bubbles";
}

#btnFilter {
    width:100%;
    border-radius:100px
}
@media (min-width: 1400px) {
#navbarFilterContainer {
    max-width: 1150px;
}
}
@media (min-width: 1400px) {
    #eventsContainer {
        max-width: 1150px;
    }
    }

