/* CSS FOR PROFILE */

.bg {
    background: #bee3db !important;
    /* font-family: 'Grape Nuts', cursive;
    font-family: 'Work Sans', sans-serif; */
}

#cardContainer {
    min-height: 500px;
    background-color: none !important;
    border: none;
    /* width:100vw;
    margin-right: 1000px; */
}
.userName {
    font-size: 2rem;
    color:black;
}
.userPic {
    border-radius: 100px;
    width: 80px;
    height: 80px;
}
#idForCardHeader {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    /* background-color: #bee3db; */
    /* background-image: linear-gradient(160deg, #bee3db 0%, #555b6e 100%); */


}
/* #idForCardBody{

    /* display: flex; */
    /* flex-direction: column; */
    /* width:100vw; */
    /* align-items: center;
    justify-content:center; */
    


/* } */
#cardButton {
    height: 50px;
    border-bottom: 1px solid rgb(221, 215, 215);
    width: 100%;
    text-align: left;
    border-bottom: 1px solid rgb(202, 194, 194);
    
    
}
.accordion-button {
    font-size: inherit;
}

.accordion-item {
    border: 1px solid rgba(35, 65, 100, .15)
}

.accordion-button:not(.collapsed) {
    color: inherit;
    background: rgb(35,65,100);
    color: #e8e8e8;
}

.accordion-button:not(.collapsed)::after  {
    filter: brightness(00%) invert(70%);
}

.accordion-button:focus {
    box-shadow: inherit;
}

@media (max-width: 767px) {
    .accordion-body h3 {
        font-size: calc(.95rem + 1.5vw);
    }
    #cardContainer {
        min-height: 880px;
    }
}
@media (min-width: 767px) {
    #cardContainer {
        min-height: 500px;
    }
}
.accordion-body {
    display: flex;
    flex-direction: column;
}
.accordion-item {
    border: none !important;
}
#logOut {
    width: 100%;
    text-align:left;
    height:50px
}


.user-header {
    height: 12vh;
    background: white;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#accordionExample {
    margin-top:20px;
}
/*END OF CSS FOR PROFILE*/

